{{ define "main"}}
<main class="site-main">
  <section class="main">
    <div class="container">
      <section class="portfolio-area">
        <div class="container">
          <div class="portfolio-title pb-5">
            <h1 class="title-h1">{{.Title}}</h1>
          </div>

          <div class="filtering col-sm-12 button-group" id="myBtnContainer">
            <button data-filter="*" class="active">All</span></button>
            <!-- Create a slice of all the categories used -->
            {{ $categories := slice }}
            {{ range .Site.Data.portfolio.portfolioList}}
              {{ $categories = $categories | append .class }}
            {{ end }}

            <!-- Range only the unique values of the categories slice and create filter buttons  -->
            {{ range $categories | uniq}}
              <button data-filter=".{{ .}}" data-tag="{{.}}">{{humanize .}}</button>
            {{ end }}
          </div>

          <!-- Images with bootstrap masonry -->
          <div class="row masonry" data-masonry='{"percentPosition": true }'>
            {{ $data := $.Site.Data.portfolio }}
            {{ range $data.portfolioList}}

            {{ $src := .src }}
            {{ $class := .class }}
            <div class="col-6 col-md-4 pb-3 px-2 grid-images {{ $class }}">
              <!-- <div class="grid-images {{ $class }}"> -->
              <img src="{{ $src }}" height="{{ .Height }}" width="{{ .Width }}" alt="{{ $class }}" class="img-fluid">
            </div>
            {{ end }}
          </div>

          <!-- predefined popup that we will fill when an image is clicked -->
          <div id="popup">
            <img src="" alt="">
          </div>

        </div>
      </section>
    </div>
  </section>
  <script src="/js/masonry.js"></script>
</main>
{{ end }}