.e5ld4zj0:first {
    margin-top: 100px;

}

.e5ld4zj0 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.e5ld4zj0 div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 150px;
}