/* import variables */
@import url(variables.css);
/*import global styling*/
@import url(global.css);
/* Fonts */
@import url(fonts.css);

.header_area .main-menu .navbar {
  margin: 0 auto 0 auto;
  width: 1350px;
}

/* navbar items*/
.header_area .main-menu .nav-item .nav-link {
  font-family: var(--font);
  font-size: 19px;
  font-weight: 900;
  padding: 1.7rem;
  color: black;
}

.header_area .main-menu .navbar-nav .active {
  color: var(--primarycolor) !important;

  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  color: rgba(233, 157, 193, 255);

  background-clip: text;
}

#navToggler,
#navToggler:focus {
  outline: none;
  box-shadow: none;
  border-color: none;
}

.icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.icon:focus {
  border: 0;
  outline: 0;
}

.icon .line {
  background-color: var(--primarycolor);
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s ease;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-405deg) translateY(5.5px);
  left: 0px;
}

nav.active .icon .line2 {
  transform: rotate(405deg) translateY(-5.5px);
  left: 0px;
  top: 17px;
}

/* end nav */

.site-main .portfolio-area {
  padding: 4rem 0;
}

.site-main .portfolio-area .button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
}
.site-main .portfolio-area .button-group button {
  background: transparent;
  border: none;
  font: normal 900 19px var(--font);
  min-width: 75px;
  max-width: 150px;
  word-break: break-word;
}

.site-main .portfolio-area .button-group button:hover,
.site-main .portfolio-area .button-group .active {
  color: var(--primarycolor);
}

/* portfolio images*/
.masonry {
  columns: 3;
  column-gap: 16px;
}

.masonry img:hover {
  transform: translateY(-10px);
  transition: 0.2s ease;
  cursor: pointer;
}

/* make sure the navbar will align correctly when resizing smaller */
@media (max-width: 1350px) {
  .header_area .main-menu .navbar {
    width: auto;
  }
}

/* ipad like screens */
@media (max-width: 1200px) {
  .masonry {
    columns: 2;
  }
}

/* smallest screens */
@media (max-width: 992px) {
  .masonry {
    columns: 1;
  }

  .site-main .portfolio-area .button-group button {
    font: normal 900 18px var(--font);
  }

  .about-area .container * {
    margin: auto 0;
  }
}

.masonry .grid-images img {
  box-shadow: #c4437d8a 0px 2px 5px -1px, #c4437d57 0px 1px 3px -1px;
}

.masonry .grid-images.show {
  display: block;
  visibility: visible;
}
/* End Portfolio area */

/* About me area */
.about-image {
  width: 100%;
  display: block;
  margin: auto;
}

.about-area .email {
  color: var(--primarycolor);
  text-decoration: none;
}

/* End of About me area */

/* Filtering */
filtering {
  margin-bottom: 40px;
}

.filtering span {
  border-bottom: 2px solid transparent;
  color: #282b2d;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 5px;
}

.filtering span:last-child {
  margin: 0;
}
