html,
body {
  margin: 0%;
  box-sizing: border-box;
}

/* CSS variables */
:root {
  /*  These css variables get injected in the scriptFooter with custom values */
  /* --primary-color: #c4437d; */
  /* --title-color: #141313; */
  /* --textcolor: #777777; */
  /* --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3); */
  --gradient-color: linear-gradient(90deg, #c4437d 0%, #d44166 100%);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  --font: menlotus;
} 