{{ define "main" }}
<section class="about-area">
  <div class="container container-fluid">
    <div class="row">
      <section class="about-area">
        <div class="container container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-12 about-title">
              <h2 class="pt-5 title-h1">
                <span>{{ .Params.heading}}</span>
              </h2>
              <div class="paragraph py-4 w-75">
                <div class="para">{{ .Content }}</div>
                <br />
                <p class="para">
                  I'm currently available for freelance work on projects big and
                  small! Feel free to email -
                  <a class="email" href="mailto:friedfireant@gmail.com">friedfireant@gmail.com</a>.
                </p>
                <a type="button" href="mailto:friedfireant@gmail.com" class="btn button primary-button">Contact me</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="about-image">
                <img src="/img/me.webp" alt="Self Portrait" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{{ end }}