<div class="container-fluid footer">
  <div class="row">
    <div class="col p-3" style="text-align: center">
      Copyright &copy;
      <span id="js-year">{{ now.Format "2006" }}</span> {{ with .Site.Copyright
      }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}
    </div>
  </div>
</div>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
